<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Make Prediction Request</title>
</head>
<body>
<div>
    <h1>Prediction Request Form</h1>
</div>
<form action="#" th:action="@{/jobs/predict}" th:object="${trainMiniVGGRequestFormModel}" method="post">
    <div>
        <h2>Choose Optimizer Type</h2>
        <input type="radio" id="SGD" name="optimizerType" value="SGD" th:field="*{optimizerType}"/>
        <label for="SGD">Stochastic Gradient Descent</label><br>
    </div>
    <div>
        <h2>Input Dataset Path</h2>
        <label>Path:</label>
        <input type="text" th:field="*{dataset}"/>
    </div>
    <div>
        <h2>Perform Training Only? (No Test Set)</h2>
        <input type="checkbox" id="trainOnly" th:field="*{isTrainOnly}" />
        <label for="trainOnly">Train Only?</label><br/>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
<button onclick="window.location.href='/templates/train'">Back</button>

</body>
</html>