<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Train LBP Request Form</title>
</head>
<body>
<div>
    <h1>Train LBP Request Form</h1>
</div>
<form action="#" th:action="@{/jobs/submitSelectionLBP}" th:object="${trainLBPRequestFormModel}" method="post">
    <div>
        <h2>Choose Optimizer Type</h2>
        <input type="radio" id="SGD" name="optimizerType" value="SGD" th:field="*{optimizerType}"/>
        <label for="SGD">Stochastic Gradient Descent</label><br>
    </div>
    <div>
        <h2>Input Dataset Path</h2>
        <label>Path:</label>
        <input type="text" th:field="*{dataset}"/>
    </div>
    <div>
        <h2>Perform Training Only? (No Test Set)</h2>
        <input type="checkbox" id="trainOnly" th:field="*{isTrainOnly}" />
        <label for="trainOnly">Train Only?</label><br/>
    </div>
    <div>
        <h2>Perform Cross Validation Parameter Search?</h2>
        <input type="checkbox" id="crossValidated" th:field="*{isCrossValidated}" />
        <label for="crossValidated">Cross Validation Parameter Search?</label><br/>
    </div>
    <div>
        <h2>Radius</h2>
        <label for="radius">Radius:</label><br/>
        <input type="number" id="radius" th:field="*{radius}" />
    </div>
    <div>
        <h2>Number Of Points</h2>
        <label for="numPoints">Number Of Points:</label><br/>
        <input type="number" id="numPoints" th:field="*{numPoints}" />
    </div>
    <div>
        <h2>Input C Value</h2>
        <label for="C">C Value:</label>
        <input type="number" id="C" th:field="*{C}">

    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
<button onclick="window.location.href='/templates/train'">Back</button>

</body>
</html>